header {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: darkolivegreen;
}

body {
    background: rgb(150, 205, 255);
    font-family: 'Courier New', Courier, monospace;
}

button {
    background: yellow;
    border-radius: cyan 5px;
}

.snake-img {
    width: 50px;
    height: 100px;
}

.grid {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.grid div {
    width: 20px;
    height: 20px;
    /*border:1px black solid;
    box-sizing:border-box*/
}
.snake {
    background: darkblue;
}
.apple {
    background: rgb(104, 124, 104);
    border-radius: 20px;
}
.popup {
    background: darkblue;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}